@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

.titre {
    background-color: rgba(218, 218, 218, 0.5);
    color: rgba(243, 243, 243, 1);
    filter: drop-shadow(0px 5px 5px #1E1E1E);
    font-weight: 800
}

.texte {
    color: #F3F3F3;
    font-family: inherit
}

#fond {
    background-color: #696969
}

.sidenav {
    background-color: #1E1E1E;
    box-shadow: 0 5px 5px #1E1E1E
}

.login_button {
    background-color: #E59820;
    border: 3px solid #E59820;
    color: #F3F3F3;
    font-family: inherit
}

.login_button:hover {
    background-color: #F3F3F3;
    color: #E59820;
    cursor: pointer
}

.boutons_standards {
    background-color: #1E1E1E;
    color: #F3F3F3;
    font-family: inherit
}

.boutons_standards:hover {
    background-color: #F3F3F3;
    color: #1E1E1E;
    cursor: pointer
}

.boutons_standardsMenu {
    background-color: #1E1E1E;
    border-bottom: 2px solid #F3F3F3;
    color: #F3F3F3;
    font-family: inherit
}

footer {
    background-color: #1E1E1E;
    color: #DADADA
}

footer label {
    background-color: #F3F3F3;
    box-shadow: 0 0 10px #F3F3F3;
    cursor: pointer
}

footer input:checked+footer label {
    background-color: #E59820
}

::-webkit-scrollbar-track {
    background-color: rgba(10, 10, 10, 0.3)
}

::-webkit-scrollbar-thumb {
    background-color: #fff
}

#theme {
    background-color: #1E1E1E;
    color: #F3F3F3
}

#partie_gauche {
    background: linear-gradient(to right, rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0))
}

#partie_droite {
    background: linear-gradient(to left, rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0))
}

header,
footer label::after {
    background-color: #1E1E1E
}

#sidenav span,
.sidenav .menu a,
#presentation {
    color: #F3F3F3
}

#fleche_gauche,
#fleche_droite {
    filter: drop-shadow(0px 5px 5px #1E1E1E)
}

@media screen and (min-width: 3840px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 10px 10px #1E1E1E, 0 -10px 10px #1E1E1E
    }
}

@media screen and (max-width: 3839px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 8px 8px #1E1E1E, 0 -7.5px 8px #1E1E1E
    }
}

@media screen and (max-width: 2559px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 8px 8px #1E1E1E, 0 -8px 8px #1E1E1E
    }
}

@media screen and (max-width: 1920px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 5px 5px #1E1E1E, 0 -5px 5px #1E1E1E
    }
}

@media screen and (max-width: 1750px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 5px 5px #1E1E1E, 0 -5px 5px #1E1E1E
    }
}

@media screen and (max-width: 1366px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 5px 5px #1E1E1E, 0 -5px 5px #1E1E1E
    }
}

@media screen and (max-width: 1000px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 3px 3px #1E1E1E, 0 -3px 3px #1E1E1E
    }
}

@media screen and (max-width: 800px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 3px 3px #1E1E1E, 0 -4px 3px #1E1E1E
    }
}

@media screen and (max-width: 600px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 3px 3px #1E1E1E, 0 -3px 3px #1E1E1E
    }
}

@media screen and (max-width: 414px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 5px 5px #1E1E1E, 0 -5px 5px #1E1E1E
    }
}

@media screen and (max-width: 360px) and (max-height: 2160px) {
    #conteneur_video {
        box-shadow: 0 5px 5px #1E1E1E, 0 -5px 5px #1E1E1E
    }
}

#submitConnexion {
    background-color: #E59820;
    border: 3px solid #E59820;
    color: #F3F3F3;
    font-family: inherit
}

#bloc {
    background-color: #1E1E1E;
    filter: drop-shadow(0px 5px 5px #1E1E1E)
}

#zone_recherche {
    background-color: #F3F3F3;
    font-family: inherit;
    font-style: italic
}

#bouton_recherche {
    background-color: #1E1E1E;
    color: #F3F3F3;
    font-family: inherit
}

thead {
    color: #DADADA;
    font-weight: 700
}

#forumTable td {
    border-bottom: 4px ridge rgba(30, 30, 30, 0.6)
}

#forumTable .fil:hover {
    background-color: #E59820;
    cursor: pointer
}

.nom_auteur {
    color: #E56820;
    font-weight: 700
}

#bloc_tri {
    color: #F3F3F3;
    font-family: inherit
}

#bouton_tri {
    background-color: #F3F3F3;
    color: #1E1E1E;
    font-family: inherit;
    font-weight: 700
}

#bouton_tri:hover {
    background-color: #DADADA;
    color: #1E1E1E;
    cursor: pointer
}

.vues,
.reponses {
    border-left: 2px solid #F3F3F3;
    border-right: 2px solid #F3F3F3
}

#soustitre {
    color: #1E1E1E;
    font-family: inherit
}

#grid img {
    background-color: #000;
    border: 1px solid #F3F3F3
}

.boutons_cours {
    background-color: #E59820;
    color: #F3F3F3;
    font-family: inherit
}

#blocCompte table:not(.invisible) {
    background-color: #F3F3F3;
    border: 4px solid #696969
}

#blocCompte td:not(.invisible) {
    border-bottom: 4px solid #696969
}

.modifButton:hover {
    background-color: #1E1E1E;
    cursor: pointer
}

.suppButton {
    background-color: #1E1E1E;
    border: 3px solid #1E1E1E;
    color: #F3F3F3;
    font-family: inherit
}

.suppButton:hover {
    background-color: red;
    cursor: pointer
}

#grid2 {
    background-color: rgba(243, 243, 243, 0.85)
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8)
}

#end {
    box-shadow: 0 0 .3em #000
}

#submitConnexion:hover,
#submitInscription:hover {
    background-color: #F3F3F3;
    color: #E59820;
    cursor: pointer
}

#submitInscription,
.modifButton {
    background-color: #E59820;
    border: 3px solid #E59820;
    color: #F3F3F3;
    font-family: inherit
}

.texte2,
li p,
.text {
    color: #F3F3F3;
    font-family: inherit
}

h1,
#bloc_forum h1 {
    color: #F3F3F3
}

#bloc_forum,
#blocCompte {
    background-color: #1E1E1E
}

.bouton_creation_fil:hover,
.bouton_creation_message:hover {
    background: linear-gradient(to right, #E59820, #F3F3F3);
    cursor: pointer
}

#bouton_recherche:hover,
.boutons_cours:hover {
    background-color: #F3F3F3;
    color: #1E1E1E;
    cursor: pointer
}

tbody,
.zoneText {
    color: #1E1E1E
}



video,
.active,
.dot:hover {
    background-color: #000
}

#blocCompte .texte,
#blocCompte .texte2 {
    color: #1E1E1E;
    font-family: inherit
}